version: '3.8'
services:
  minio:
    image: minio/minio:RELEASE.2024-12-18T13-33-40Z
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000"
      - "9001:9001"
  ...